<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="DBS Logo" src="https://www.fintechfestival.sg/uploads/logo/dbs_logo.jpg">
</div>

<router-outlet></router-outlet>
<router-outlet name="homepage"></router-outlet>
<router-outlet name="login"></router-outlet>
<router-outlet name="logout"></router-outlet>
<router-outlet name="signup"></router-outlet>
<router-outlet name="forgetpassword"></router-outlet>
<router-outlet name="promotions"></router-outlet>
<router-outlet name="tagpage"></router-outlet>
